## Pandas Data Frames

- What Is Pandas?
- Pandas vs Numpy 
- Pandas Data Frame Intro
- Pandas Data Frame fundamental operations
    - Creating
    - Selecting/indexing
    - Inserting rows/columns
    - Setting data
    - Filtering
    - Dropping rows/ columns
- Dealing with Missing values

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
from IPython.display import Image
from IPython.display import HTML
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown(string))

In [ ]:
from IPython.display import display,Image, HTML

CSS = """
.output {
    align-items: center;
}
div.output_area {
    width: 80%;
}
"""
HTML('<style>{}</style>'.format(CSS))

# What is Pandas?


### - Pandas is an open-source library built on top of Numpy
- https://github.com/pandas-dev/pandas
- https://github.com/pandas-dev/pandas/blob/059c8bac51e47d6eaaa3e36d6a293a22312925e6/pandas/core/frame.py

### - Enables working with tabular and labeled data easily and intuitively

### - Pandas data structures:
    - Series
    - Index
    - Data Frame

## Quick intro to Numpy Arrays
- contains Numerical ***Homogeneous*** Data
- may contain multi dimensional array elements.
- used for performing various numerical computations and processing of the multidimensional and single-dimensional array elements.

In [ ]:
import numpy as np
np.random.seed(0)  # seed for reproducibility

two_dim_arr = np.random.randint(10, size=(3, 4))  # Two-dimensional array
three_dim_arr = np.random.randint(10, size=(3, 4, 5))  # Three-dimensional array

### A two dimensional Array example...

In [ ]:
print("Two Dimentional Array")
two_dim_arr

### What I mean by Homogeneous...

In [ ]:
print(two_dim_arr)

**two_dim_arr[0,0] = "Hello"**

In [ ]:
two_dim_arr[0,0] = "Hello"

In [ ]:
type(two_dim_arr)

### You can directly form the DataFrame from the 2D array

In [ ]:
import pandas as pd

In [ ]:

print("Data Frame formed by 2D Array")

df=pd.DataFrame(two_dim_arr)
df

### Pandas Data Frame is Heterogeneous!
**df.iloc[0,0]="Hello"**

In [ ]:
df.iloc[0,0]="Hello"

In [ ]:
df

### Pandas Data Frame labels the data with Indices and Columns labels
pd.DataFrame(np.random.randint(10,size=(3,2)),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

In [ ]:
np.random.randint(10,size=(3,2))

In [ ]:
##np.random.seed(0)
foo_df = pd.DataFrame(np.random.randint(10,size=(3,2)),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c']
                 )

In [ ]:
foo_df

### Pandas DataFrame is relevant for statistical observations/data points with various types of variables (categorical, etc)

In [ ]:
Image("res/Tidy_census.png")

### It's intuitive...  Look how convenient it is

In [ ]:
people_df= pd.read_csv("data/people.csv")
people_df

In [ ]:
Image('res/excel-to-pandas.png')

In [ ]:
name = ['Maria', 'Dylan', 'Philipp', 'Konsti']
gender = ['female', 'male', 'male', 'male']
fav_food = ['sushi', 'tacos', 'fried_chicken', 'lasagna']

In [ ]:
students_dict = {'name':name, 'gender':gender, 'fav_food':fav_food}

In [ ]:
students_df = pd.DataFrame(students_dict)

In [ ]:
students_df.iloc[0,0] = 1

In [ ]:
students_df

source: https://jalammar.github.io/

### Describing the Data Frame...
- df.info()
- df.count())
- df.describe())
- df.mean())

In [ ]:
students_df.info()

In [ ]:
people_df

In [ ]:
people_df['age'].describe()

In [ ]:
people_df.count()

### Pandas Data Frame operations

In [ ]:
Image("res/CRUD.png")

### Data Frame creation
You can create/form a Data Frame from:
- Dict of 1D ndarrays, lists, dicts, or Series

- 2-D numpy.ndarray

- Structured or record ndarray

- A Series

- Another DataFrame

#### Here is an example...

In [ ]:
print('example_df = {"col1": [1.0, 2.0, 3.0, 4.0], "col2": [4.0, 3.0, 2.0, 1.0]}\n')

example_dict = {"col1": [1.0, 2.0, 3.0, 4.0], "col2": [4.0, 3.0, 2.0, 1.0]}

example_dict

In [ ]:
df=pd.DataFrame(example_dict,index =['a','b','c','d'])

In [ ]:
df

#### creating Index for the Data frame...

In [ ]:
print('dic = {"col1": [1.0, 2.0, 3.0, 4.0], "col2": [4.0, 3.0, 2.0, 1.0]}\n')

dic= {"col1": [1.0, 2.0, 3.0, 4.0], "col2": [4.0, 3.0, 2.0, 1.0]}

dic

In [ ]:
df=pd.DataFrame(dic)
df

### Creating a Dataframe from Pandas Series objects..

In [ ]:
d = {
       "apples": [3, 2, 0,1],
        "oranges": [0, 3, 7, 2],
    }

pd.DataFrame(d)

In [ ]:
Image("res/series-and-dataframe.width-1200.png")

source: https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png

### Data Frame Selection / Indexing

In [ ]:
data = {
    'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
    'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai',
             'Manchester', 'Cairo', 'Osaka'],
    'age': [41, 28, 33, 34, 38, 31, 37],
    'py-score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]
}

row_labels = [101, 102, 103, 104, 105, 106, 107]
students_df = pd.DataFrame(data=data, index=row_labels)
students_df

In [ ]:
students_df.index

In [ ]:
students_df = students_df.drop(105)

In [ ]:
students_df.reset_index(drop=True)

## Source: https://realpython.com/

### Data Selection

In [ ]:
students_df

In [ ]:
students_df.iloc[4,1]

In [ ]:
students_df.loc[[101],["age"]]

In [ ]:
students_df.loc[106, 'city']

In [ ]:
students_df

### Selecting by Label
- .loc[] attribute

In [ ]:
students_df

In [ ]:
#print("students_df.loc[:, 'city']")
#students_df.loc[:, 'city']

In [ ]:
print("students_df.loc[102:106, ['name', 'city']]")
students_df.loc[102:106, ['name', 'city']]

In [ ]:
#print('df["city"]')
cities = students_df[["name","city"]]
cities

In [ ]:
students_df.loc[106]

In [ ]:
print("df.city")
students_df.city

### Selecting by Position
- .iloc[]

In [ ]:
students_df

In [ ]:
students_df.iloc[0,1]

In [ ]:
print("students_df.iloc[1:6, [0, 1]]")
students_df.iloc[1:6, [0, 1]]

In [ ]:
students_df

In [ ]:
list_ = list(range(10))

In [ ]:
list_[6:9]

In [ ]:
students_df.iloc[4:6,2:4]

### Can you tell what the difference is between loc and iloc?

### Setting/Updating data

#### Let us first update the Data frame index..

In [ ]:
students_df.index = list(np.arange(0, 7))
students_df

### Inserting/deleting rows

In [ ]:
students_df

In [ ]:
name = ['Juan', 'Monika', 'Juliette']
city = ['Berlin','Paris', 'Paris']
age = [30,20,25]
py_score = [70,85,90]

new_students = { 'name' : name, 'city':city, 'age':age, 'py-score':py_score}

In [ ]:
new_students

In [ ]:
new_df = pd.DataFrame(new_students)
new_df

In [ ]:
df = pd.concat([students_df,new_df])

In [ ]:
df

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df

In [ ]:
df.reset_index(drop=True, inplace=True)

### Inserting/Deleting columns

In [ ]:
students_df

In [ ]:
#print('df[js-score] = np.array([71.0, 95.0, 88.0, 79.0, 91.0, 91.0, 80.0])')
students_df['js-score'] =[71.0, 95.0, 88.0, 79.0, 91.0, 91.0, 80]
students_df

In [ ]:
students_df['py-score-updated'] = students_df['py-score'] * 10

In [ ]:
students_df

In [ ]:
students_df.drop('js-score', axis=1)

### Inserting in a specific location

In [ ]:
students_df.insert(loc=4, column='django-score',
          value=np.array([70, 74, 78, 56, 66, 78, 81.0]))
students_df

### Dropping specific column

In [ ]:
## axis= 0 dropping by row,  axis=1 dropping by column
students_df.drop(columns='django-score')

### Filtering/Boolean Indexing

In [ ]:
students_df["py-score"] >= 75

In [ ]:
very_good_students_filter=students_df[students_df["py-score"]>=75]

In [ ]:
very_good_students_filter

### Creating powerful filters with Logical operators AND, OR, NOT, XOR

In [ ]:
#print('df[(df[py-score] >= 80) & (df[js-score] >= 80)]')
students_df[(students_df['py-score'] >= 70) & (students_df['django-score'] >= 80)] #or

## Using value counts function

In [ ]:
people_df=pd.read_csv("data/people.csv")
people_df

In [ ]:
people_df['country'].unique()

In [ ]:
people_df['country'].value_counts()

In [ ]:
people_df['country'].nunique()

### Saving our df to csv

In [ ]:
people_df.to_csv('people.csv')