## Pandas Data Frames

- What Is Pandas?
- Pandas vs Numpy 
- Pandas Data Frame Intro
- Pandas Data Frame fundamental operations
    - Creating
    - Selecting/indexing
    - Inserting rows/columns
    - Setting data
    - Filtering
    - dropping rwos/ columns
- Dealing with Missing values
- Applying functions, working with Numpy functions
- Concatinatng & Merging
- Grouping
- Preprocessing
    - Categorical & dummy variables
    - Sparse Data Frame
- Data Frame Best Practies
- I/O operations

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
from IPython.display import Image
from IPython.display import HTML
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown(string))

CSS = """
.output {
    align-items: center;
}
"""
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Code mode"></form>''')

In [ ]:
from IPython.display import display, HTML

CSS = """
.output {
    align-items: center;
}
div.output_area {
    width: 80%;
}
"""
HTML('<style>{}</style>'.format(CSS))

# What is Pandas?

### - Enables working with tabular and labeled data easily and intuitively
### - Pandas is an open-source library built on top of Numpy Package.
- https://github.com/pandas-dev/pandas
- https://github.com/pandas-dev/pandas/blob/059c8bac51e47d6eaaa3e36d6a293a22312925e6/pandas/core/frame.py

### - Pandas data structures are:
    - Series
    - Index
    - Data Frame

## Quick refresh to Numpy Arrays..
- contains Numerical ***Homogonius*** Data
- may contain multi dimensional array elements.
- used for performing various numerical computations and processing of the multidimensional and single-dimensional array elements.

In [ ]:
import numpy as np
np.random.seed(0)  # seed for reproducibility

two_dim_arr = np.random.randint(10, size=(3, 4))  # Two-dimensional array
three_dim_arr = np.random.randint(10, size=(3, 4, 5))  # Three-dimensional array

### Here is a three-dimensional Array example...

In [ ]:
print("Three Dimentional Array")

three_dim_arr

### A two dimensional Array example...

In [ ]:
print("Two Dimentional Array")
two_dim_arr

### What I mean by Homogeneous...

In [ ]:
print(two_dim_arr)

**two_dim_arr[0,0] = "Hello"**

In [ ]:
printmd("***Oops....***")
##two_dim_arr[0,0] = "Hello"

### You can directly and simply form the DataFrame from the 2D array

In [ ]:
print("Data Frame formed by 2D Array")
printmd("***df=pd.DataFrame(two_dim_arr)***")
df=pd.DataFrame(two_dim_arr)
df

### Pandas Data Frame is Heterogeneous!
**df.iloc[0,0]="Hello"**

In [ ]:
df.iloc[0,0]="Hello"
df

### Pandas Data Frame labels the data with Indices and Columns labels
pd.DataFrame(np.random.randint(10,size=(3,2)),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

In [ ]:
##np.random.seed(0)
foo_df=pd.DataFrame(np.random.randint(10,size=(3,2)),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

In [ ]:
foo_df

foo_df.loc[:,"bar"]

### Pandas DataFrame is relevant for statistical observations/data points with various variables (categorical, etc)

In [ ]:
Image("res/Tidy_census.png")

### It is intuitive...  Look how convenient it is!!

In [ ]:
Image('res/excel-to-pandas.png')

source: https://jalammar.github.io/

### Describing the Data Frame...
- df.count())
- df.describe())
- df.mean())

In [ ]:
print(df,"\n")
df.info()
#print("df.count()  \n",df.count())
#print("\n df.describe() \n",df.describe())
#print("\n df.mean() \n",df.mean())

In [ ]:
type(df.iloc[:,1])

In [ ]:
pd.Series([3,4,5])   ##. Pandas Series is a one dimentional data frame

### Pandas Data Frame operations

In [ ]:
Image("res/CRUD.png")

### Data Frame creation
You can create/form a Data Frame from:
- Dict of 1D ndarrays, lists, dicts, or Series

- 2-D numpy.ndarray

- Structured or record ndarray

- A Series

- Another DataFrame

#### Here is an example...

In [ ]:
print('dic = {"col1": [1.0, 2.0, 3.0, 4.0], "col2": [4.0, 3.0, 2.0, 1.0]}\n')

dic = {"col1": [1.0, 2.0, 3.0, 4.0], "col2": [4.0, 3.0, 2.0, 1.0]}

print("pd.DataFrame(dic)\n\n",pd.DataFrame(dic))

#### creating Index for the Data frame...

In [ ]:
print('pd.DataFrame(dic, index=["a", "b", "c", "d"]\n\n',
      pd.DataFrame(dic, index=["a", "b", "c", "d"]))

### Creating Data frame from Pandas Series objects..

d = {
       "apples": pd.Series([3, 2, 0,1]),
        "oranges": pd.Series([0, 3, 7, 2]),
    }

pd.DataFrame(d)

In [ ]:
Image("res/series-and-dataframe.width-1200.png")

source: https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png

### Data Frame Selection / Indexing

In [ ]:
data = {
    'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
    'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai',
             'Manchester', 'Cairo', 'Osaka'],
    'age': [41, 28, 33, 34, 38, 31, 37],
    'py-score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]
}

row_labels = [101, 102, 103, 104, 105, 106, 107]
students_df = pd.DataFrame(data=data, index=row_labels)
students_df

Source: https://realpython.com/

### data Selection

In [ ]:
print('df["city"]')
cities = students_df['city']
cities

In [ ]:
print("df.city")
students_df.city

### Selecting by Label
- .loc[]  function

In [ ]:
#print("students_df.loc[:, 'city']")
#students_df.loc[:, 'city']

In [ ]:
print("students_df.loc[102:106, ['name', 'city']]")
students_df.loc[102:106,:]

### Selecting by Position
- .iloc[]

In [ ]:
#print("students_df.iloc[:, 1]")
#students_df.iloc[:, 1]

In [ ]:
print("students_df.iloc[1:6, [0, 1]]")
students_df.iloc[1:6, [0, 1]]

### Hmm.. Can you tell what the difference is?

#### You can use loc and iloc also to select certain data values but it's better to use at[] and iat[]

In [ ]:
print('df.at[103, name]')
students_df.at[103, 'name']

In [ ]:
print('df.iat[2, 0]')
students_df.iat[2, 0]

### Setting/ Updating data

#### let us first update the Data frame index..

In [ ]:
print ('df.index = np.arange(10, 17)')
students_df.index = list(np.arange(10, 17))
students_df

In [ ]:
print('df.loc[:13, py-score] = [40, 50, 60, 70]')
students_df.loc[:13, 'py-score'] = [40, 50, 60, 70]
print('df.loc[14:, py-score] = 0')
students_df.loc[14:, 'py-score'] = 0
students_df

In [ ]:
students_df.iloc[:, -1] = np.array([88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0])
students_df

### Inserting/deleteing rows

In [ ]:
Ronald = pd.Series(data=['Ronald', 'Berlin', 34, 79],
                 index=students_df.columns[0:4],name=21)

In [ ]:
Marcus = pd.Series(data=['Marcus', 'Berlin', 34, 79],
                 index=students_df.columns[0:4],name="21")

In [ ]:
print('df=df.append(john)')
students_df=students_df.append(Ronald)
students_df

In [ ]:
students_df.index

In [ ]:
#print('df = df.drop(labels=[17])')
students_df.drop(labels=[21],inplace=True)
students_df

In [ ]:
x=[1,3,4,5,8,9,12,100]

In [ ]:
students_df["py-score"]

In [ ]:
students_df[students_df["py-score"]<=np.percentile(students_df["py-score"], 25)]

In [ ]:
np.median(np.array(x))

### Inserting/Deleting columns

In [ ]:
#print('df[js-score] = np.array([71.0, 95.0, 88.0, 79.0, 91.0, 91.0, 80.0])')
students_df['js-score'] =np.array([71.0, 95.0, 88.0, 79.0, 91.0, 91.0, 80.0])
students_df

### Inserting in a specific location

In [ ]:
#print('df.insert(loc=4, column=js-score,value=np.array([86.0, 81.0, 78.0, 88.0, 74.0, 70.0, 81.0]))')
students_df.insert(loc=4, column='ux-score',
          value=np.array([70, 74, 78, 56, 66, 78, 81.0]))
students_df

### dropping specific column

In [ ]:
print('df = df.drop(labels=age, axis=1)')
students_df = students_df.drop(labels=['ux-score'], axis=1)

In [ ]:
students_df

### Filtering/Boolean Indexing

In [ ]:
#print('filter_ = df[django-score] >= 80')
very_good_students_filter = students_df['py-score'] >= 50
very_good_students_filter

In [ ]:
students_df[very_good_students_filter]

In [ ]:
students_df["js-score-updated"]= students_df["js-score"] +5

In [ ]:
students_df.age>40

In [ ]:
students_df[students_df.age>40]

In [ ]:
print('df[filter_]')
students_df[very_good_students_filter]

### Creating powerful filters with Logical operators AND, OR, NOT, XOR

In [ ]:
#print('df[(df[py-score] >= 80) & (df[js-score] >= 80)]')
students_df[(students_df['py-score'] >= 40) & (students_df['js-score'] >= 80)]

### Working with Missing Data

### np.nan is used to represent missing values

In [ ]:
print("df_ = pd.DataFrame({'x': [1, 2, np.nan, 4]})")
df_ = pd.DataFrame({'x': [1, 2, np.nan, 4]})
df_

In [ ]:
df_["y"]=[2,np.nan,4,5]
df_

### Dropping rows that contains missing values

In [ ]:
#print("df_.dropna()")
df_.dropna()
df_

### and you can fill the missing values with fillna..

In [ ]:
df_.mean()

In [ ]:
df_ = pd.DataFrame({'x': [1, 2, np.nan, 4]})
print('df_.fillna(value=0)\n',df_.fillna(value=0))
print("\ndf_.fillna(method=ffill)\n",df_.fillna(method='ffill'))
print("\ndf_.fillna(method=bfill)\n",df_.fillna(method='bfill'))

### Applying functions

### Applying Arithmetic functions

In [ ]:
students_df['total'] =\
    0.4 * students_df['py-score'] + 0.3 * students_df['js-score']
students_df

In [ ]:
students_df.iloc[:, 3:5]

### using existing NumPy funnction instead of writing your own function

In [ ]:
##del students_df['total']

#print("students_df['total'] = np.average(students_df.iloc[:, 2:5], axis=1,weights=[0.4, 0.3, 0.3])")
students_df['total'] = np.average(students_df.iloc[:, 3:5], axis=1,
                         weights=[0.4, 0.3])
students_df

In [ ]:
students_df

## Map function with Lambda

In [ ]:
list(map(lambda x:x+10,students_df["py-score"]))

### Categorical Variables

In [ ]:
print("let us take this Data Frame...")
df = pd.DataFrame(
  {"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]}
)
df

In [ ]:
#print("Let us convert it to a categorical variable...\n\ndf[grade] = df[raw_grade].astype(category)")
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

In [ ]:
df["grade"].cat.categories

In [ ]:
print('df["grade"].cat.categories = ["very good", "good", "very bad"]')
df["grade"].cat.categories = ["very good", "good", "very bad"]

In [ ]:
df

In [ ]:
print('Injecting new categories...\ndf["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])')

df["grade"] = df["grade"].cat.set_categories(
       ["very bad", "bad", "medium", "good", "very good"]
    )
df["grade"]

In [ ]:
print('df.sort_values(by="grade")')
df.sort_values(by="grade")

### Concatenating
- concat mutilpe data frames on the same axis.
- pd.concat()

In [ ]:
Image("res/merging_concat_dict_keys.png")

source:pandas.pydata.org

In [ ]:
print('df = pd.DataFrame(np.random.randn(10, 4))')
df = pd.DataFrame(np.random.randn(7, 4))
print(df)
print("\npieces = [df[:2], df[2:4], df[4:]]")
pieces = [df[:2], df[2:4], df[4:]]
pieces

In [ ]:
print("\npd.concat(pieces)")
pd.concat(pieces)

### Merging
#### - Similar to SQL Join operations

In [ ]:
Image("res/joins.jpeg")

source:https://www1.udel.edu/ , https://www.expii.com/

In [ ]:
Image("res/four_relations.jpeg")

In [ ]:
left = pd.DataFrame(
       {
            "key1": ["K0", "K0", "K1", "K2"],
            "key2": ["K0", "K1", "K0", "K1"],
            "A": ["A0", "A1", "A2", "A3"],
            "B": ["B0", "B1", "B2", "B3"],
        }
    )
    

right = pd.DataFrame(
        {
            "key1": ["K0", "K1", "K1", "K2"],
            "key2": ["K0", "K0", "K0", "K0"],
            "C": ["C0", "C1", "C2", "C3"],
            "D": ["D0", "D1", "D2", "D3"],
        }
    )

print("left \n",left)
print("\nright\n",right)
print("\npd.merge(left, right,how=right, on=[key1, key2],indicator=True)")
result = pd.merge(left, right,how="right", on=["key1", "key2"],indicator=True)
result

## Grouping

### - Splitting
- splitting Data Frame into sub groups by key value or values
- equal to "group By" in SQL. 

### - Applying
   - Aggregation
       - applying one or multiple functions in to the items within each subgroup.
   - Transformation
        - broadcasting the results into the original data frame
   - Filteration
        - equivelant to HAVING in SQL
        
### - Combining
    - combining the results to fit into the data pipeline and/or delivers the insights

In [ ]:
Image("res/grouping.png")

source:https://towardsdatascience.com/aggregation-transform-filter-how-and-when-to-use-them-31ed7eb88d2e

### dummy variables
- dummy variables are binary variables that represents the values that categorical variables hold. 
- It is effecient representation for programming, preprocessing, analysing and ML tasks purposes.

#### Here is an example...

In [ ]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                   'C': [1, 2, 3]})
df

In [ ]:
print("pd.get_dummies(df, prefix=['col1', 'col2'])")
pd.get_dummies(df, prefix=['col1', 'col2'])

### Sparse Data Frames

In [ ]:
Image("res/Sparse_dense.gif")

source: https://matteding.github.io/

In [ ]:
print("df = pd.DataFrame(np.random.randn(10000,4))")
df = pd.DataFrame(np.random.randn(10000,4))
print("\nlet us try to fill NAN values..\n\ndf.iloc[:9998] = np.nan")

df.iloc[:9998] = np.nan
print(df.memory_usage())

print("\nConverting to Sparse Data type\nsdf = df.astype(pd.SparseDtype(float, np.nan))\n")
sdf = df.astype(pd.SparseDtype("float", np.nan))

sdf.memory_usage()

### Pandas best practices

- Keep in mind that Pandas provides only in-memory analytics.
- perform ETL operations, pre-processing of larget data sets first then load the preprocessed data into Pandas.
- use efficient Data types.
- Use Pandas for development/testing, proof-of-concept use cases rather than production environment for your Data product.
- it is not recommended for building automated data pipelines. where other tools are more effecient(e.g. pySpark) or parallel computing library such as Dask.

In [ ]:
Image("res/pandas_memory_bypassing.png")

source:https://towardsdatascience.com/

### I/O operations
- reading data directly from csv, text, Excel files, DFS
- Pandas Data Frames are not peristent storage!
- writing data directly to file storage.

In [ ]:
print("students_df.to_csv(students_df.csv)\n\nData frame is saved persistentally to the file storage...")
students_df.to_csv("students_df.csv")

In [ ]:
Image("res/Q&A.png")